.home {
                  position: relative;
                  height: 100vh;
                  overflow: hidden;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: white;
                  text-align: center;
}

.background-video {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  z-index: -1;
}

.home-content {
                  z-index: 1;
                  padding: 20px;
                  backdrop-filter: blur(5px);
                  border-radius: 10px;
                  background-color: rgba(0, 0, 0, 0.5);
}

.home-content h1 {
                  font-size: 3rem;
                  margin-bottom: 1rem;
}

.home-content p {
                  font-size: 1.5rem;
}